body{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
ul,li,h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding:0;
	list-style:none; 
}
a{
	text-decoration: none;
}

/*页面定位宏*/
@mixin weizhi($position,$top,$left,$right,$bottom){
	position:$position;
	top:$top;
	left:$left;
	right:$right;
	bottom:$bottom;
}

/*页面所有居中元素*/
.section .center {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

/*在页面中所有的底部元素*/
.section .bottom {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0
}
.section .top {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.section .follow-head {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/*头部导航*/
#header{
	@include weizhi(fixed,0,0,0,0);
    width: 100%;
    height: 60px;
    z-index: 1;   
    background: #168bd8;

    .nav{
      width: 1000px;
      margin: 0 auto;
      height: 60px;
      .logo{
        background-image: url('image/logo.png');      
        background-position: -2px 0px;
        display: block;
        width: 120px;
        height: 40px;
        margin-top: 10px;
        background-repeat: no-repeat;
        float: left;
      }
      .logo-fl{
        float: left;
        .logo-nav-list{
          margin-left: 60px;
          &::after{
            content:'';
            clear: both;
            display: block;
            visibility: hidden;
            height: 0;
          }
          .logo-nav-item{
          	position: relative;
          	list-style-type: none;
          	display: list-item;
          	#shouye{
          		color:#67cbff;
          	}
          	.logo-nav-link{
          		display: inline-block;
          		width: 100px;
          		height: 28px;
          		font-size: 15px;
          		color: #fff;
          		padding-top: 32px;
          		text-align: center;
          		&:hover{
          			color:#67cbff;
          		}
          	}
          }
        }
      }
      .clear{
      	clear: both;
      	display: block;
      	content: '';
      }
    }
}

#header .nav{
	.nav-help{
		float: right;
		margin-top: 25px;
	  a{
	  	color: #fff;
	  	font-size: 12px;
	  	padding: 0 10px;
	  }
	  .nav-app i{
        background-image: url('image/logo.png');      
        background-position: -88px -154px;
        display: inline-block;
        width: 32px;
        height: 25px;
        background-repeat: no-repeat;
	  }
	  .yellow{
	  	color: #FFDA28;
	  }
	}
}




/*四个页面的背景图*/

$image-path:'image/';
$images:bg-0,bg-1,bg-2,bg-3,lingxian,quanmian,zhuanye;

#fullpage{
	@for $i from 1 through length($images){
		.section:nth-child(#{$i}){
			background-image: url($image-path+nth($images,$i)+'.jpg');
		}
		background-size:cover;

	}
} 



#fullpage{
	.section{
		position: relative;
		height: 643px;
	}
	.fp-section fp-table{
      display: table;
      width: 100%;
	}
	
}


/*第一个页面中的动画云*/
#fullpage{
	.fp-tableCell{
	  display: table-cell;
      vertical-align: middle;
      width: 100%;
      .top .bg-cloud-1{
        @include weizhi(absolute,0,none,none,none);
        width: 100%;
        height: 1000px;
        background: url('image/cloud_1.png') repeat;
      }
      .middle .bg-cloud-2{
        @include weizhi(absolute,-200px,0,none,none);
        width: 100%;
        height:400px;
        background: url('image/cloud_2.png') repeat;
      }
      .bottom .bg-cloud-3{
        @include weizhi(absolute,none,0,none,0);
        width: 100%;
        height:400px;
        background: url('image/cloud_3.png') repeat;
      }
	}
}


@keyframes cloudmove {
    0% {
        background-position: 2000px 0
    }

    50% {
        background-position: 0 0
    }

    100% {
        background-position: -2000px 0
    }
}

.active .bg-cloud-1{
	animation:cloudmove 100s linear infinite;
}
.active .bg-cloud-2{
	animation:cloudmove 280s linear infinite;
}
.active .bg-cloud-3{
	animation:cloudmove 600s linear infinite;
}




#fullpage #section-0{
	.follow-head{
	  height: 126px;
      background:url('image/bg-1_e.jpg');
	}
}

/*第一页面中底部的冰山，船 和飞机*/
#fullpage .section{
	.follow-head{
	  @include weizhi(absolute,none,0,none,0);
      width: 100%;

      .obj-hill-2{
      	width: 63px;
        height: 78px;
        background: url('image/hill_2.png');
        @include weizhi(absolute,-13px,none,450px,none);
      }
      .obj-hill-3{
      	width: 260px;
        height: 175px;
        background: url('image/hill_3.png');
        @include weizhi(absolute,-47px,none,50px,none);
      }
      .obj-hill-1{
      	width: 265px;
        height: 175px;
        background: url('image/hill_1.png');
        @include weizhi(absolute,-50px,0,none,none);
      }
      .obj-ship{
      	width: 242px;
        height: 228px;
        background: url('image/ship.png');
        @include weizhi(absolute,-191px,260px,none,none);
        transition:all .5s ease .3s;
      }
	}

	.center{
      .obj-launch{
      	width: 501px;
        height: 158px;
        background: url('image/launch.png');
        @include weizhi(absolute,-210px,190px,none,none);
      }
      .obj-flight{
      	width: 119px;
        height: 78px;
        background: url('image/flight.png');
         @include weizhi(absolute,-230px,480px,none,none);
      }
	}
}

/*船动画下  X轴方向多走40px*/
.active .obj-ship{
    transform:translateX(40px);
}


/*飞机动画 上下运动*/
@keyframes flight {
    0% {
        top: -220px
    }

    40% {
        top: -230px
    }

    100% {
        top: -220px
    }
}

.active .obj-flight{
	animation:flight 3s ease-in-out infinite;
}

#fullpage .section{
	.bottom{
	  .btn-arrow{
	 display: block;
     width: 30px;
     height: 26px;
     z-index: 1000;
     background: url('image/arrow.png');
     @include weizhi(absolute,none,485px,none,none);
	}
	}	
}

/*所有页面中点击进入下一页面的动画*/
.arrowGo {
    bottom: 42px;
    animation: arrowGo 1s infinite steps(10,end);
}

@keyframes arrowGo {
    0% {
        opacity: 1;
        transform-origin: center center;
        transform: translate(-50%,0);
        bottom: 42px
    }

    50% {
        opacity: .5;
        transform-origin: center center;
        transform: translate(-50%,0);
        bottom: 36px
    }

    100% {
        opacity: 1;
        transform-origin: center center;
        transform: translate(-50%,0);
        bottom: 42px
    }
}


#fullpage .section{
	.title{
    @include weizhi(absolute,-130px,220px,none,none)
    color: #fff;
    width: 500px;
     transition:all .5s ease .3s;
     h3{
     	width:66px;
     	height: 126px;
     	float: left;
     	text-indent: -9000em
     }
     .text{
     	margin-left: 86px;
     	margin-top: 8px;
     	h4{
     		font-size: 32px;
     		font-weight: 400;
     		margin-bottom: 6px;
     		line-height: 48px;
     		letter-spacing: 2px;
     	}
     	p{
     		font-size: 19px;
            letter-spacing: 1px;
            line-height: 32px;
            opacity: .8;
     	}
     }
	}
	
}
.title{
   opacity: 0;
}
.active .title{
  opacity:1;
  transform:translateX(20px);

}
.obj-brain{
       width: 444px;
       height: 427px;
       background: url('image/brain.png');
       @include weizhi(absolute,-200px,none,-190px,none)
       opacity: 0;
       transition:all .5s ease .3s;
  }
 .active .obj-brain{
	  opacity: 1;
    transform:translateX(-20px);
}



$img:lingxian,quanmian,zhuanye;
#fullpage{
	@for $i from 1 through length($img){
		#section-#{$i} .title h3{
          background: url($image-path+nth($img,$i)+'.png') no-repeat;
		}
		background-size:cover;
	}
}

.y-ain {
    animation: y-ain 2s infinite;
    transform-style: preserve-3d;
}

@keyframes y-ain {
    0% {
        transform: rotateY(0)
    }

    40% {
        transform: rotateY(0)
    }

    100% {
        transform: rotateY(360deg)
    }
}

.section .square{
	position: absolute;
    display: block;
}

#section-1{
	.square-1 {
    background: #35b568;
    @include weizhi(absolute,none,70px,none,0)
    width: 44px;
    height: 44px;
   }
   .square-2 {
    background: #4ac179;
    @include weizhi(absolute,none,158px,none,0)
    width: 88px;
    height: 88px;
   }
   .square-3 {
    background: #8ae75a;
    @include weizhi(absolute,none,246px,none,0)
    width: 44px;
    height: 44px;
   }
   .square-4 {
    background: #8ae75a;
    @include weizhi(absolute,none,none,328px,0)
    width: 44px;
    height: 44px;
   }
   .square-5 {
    background: #4ac179;
    @include weizhi(absolute,none,none,240px,0)
    width: 44px;
    height: 44px;
   }
}
 

#section-2{
	.square-1 {
     background: #33bb9a;
    @include weizhi(absolute,60px,70px,none,none)
    width: 88px;
    height: 88px;
   }
   .square-2 {
    background: #29a2b8;;
    @include weizhi(absolute,148px,-18px,none,none)
    width: 88px;
    height: 88px;
   }
   .square-3 {
    background: #60cf6e;
    @include weizhi(absolute,148px,158px,none,none)
    width: 88px;
    height: 88px;
   }
   .square-4 {
    background: #8ae75a;;
    @include weizhi(absolute,236px,70px,none,none)
    width: 176px;
    height: 176px;
    background-image: url('image/square_c776382.jpg');
   }
   .square-5 {
    background: #33bb9a;
    @include weizhi(absolute,236px,246px,none,none)
    width: 88px;
    height: 88px;
   }
}

#section-2 .square {
}

#section-2 .follow-head {
    height: 138px;
    background: transparent url('image/bg-3-head_b8a3f7f.png');
} 

.obj-allside {
    width: 444px;
    height: 330px;
    background: url('image/allside_e8abd12.png');
    @include weizhi(absolute,-120px,none,-190px,none);
    opacity: 0;
    transition:all .5s ease .3s;
}

 .active .obj-allside{
    opacity: 1;
    transform:translateX(-20px);
}



#fullpage #section-3{
	.copyright {
      font-size: 12px;
      color: #fff;
      text-align: center;
      line-height: 80px;
      a{
      color: #fff;	
      }
}

 .center .title-area-3{
    top: -140px;
    left: 32px;
    .obj-bubble {
     @include weizhi(absolute,-180px,150px,none,none);
    width: 275px;
    height: 245px;
    background: url('image/bubble_3b0f897.png');
}
 }
}

 .obj-stat {
    width: 603px;
    height: 361px;
    background: url('image/stat_8934528.png');
     @include weizhi(absolute,-160px,none,-120px,none);
     opacity: 0;
     transition:all .5s ease .3s;
 }
 .active .obj-stat{
    opacity: 1;
    transform:translateX(-40px);
}



/*右边导航小点*/

#fp-nav{
  color: #000;
  margin-top: -43.5px;
  opacity: 0.5;
  position: fixed;
  z-index: 10000;
  .right{
    right:17px;
  }
  ul{
    display: block;
    li{
      display: block;
      width: 14px;
      height: 13px;
      margin: 7px;
      position: relative;
      a{
        display: block;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        span{
          top: 2px;
          left: 2px;
          width: 8px;
          height: 8px;
          border: 1px solid #000;
          border-radius: 50%;
          position: absolute;
          z-index: 1;
        }
      }
    }
    .fp-tooltip{
    position: absolute;
    top: -2px;
    color: #000;
    font-size: 14px;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    }
  }
}